.nav a {
  color: #5a5a5a;
  font-size: 11px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.nav li {
  display: inline;
}

.jumbotron {
  /* background-image:url('http://studvest.no/sites/default/files/beer_pong_jhm_04.jpg'); */
  background-image: url(../../img/beerpong.jpg);
  height:500px;
}

.jumbotron .container {
  position: relative;
  top:100px;
}

.jumbotron h1 {
  color: #fff;
  font-size: 48px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

.jumbotron p {
  font-size: 20px;
  color: #fff;
}

.learn-more {
  background-color: #f7f7f7;
}

.learn-more h3 {
  font-family: 'Shift', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.learn-more a {
  color: #00b0ff;
}

.neighborhood-guides {
    bacground-color:#efefef;
    border-bottom:1px solid #dbdbdb;
}

.neighborhood-guides h2{
    color:#393c3d;
    font-size:24px;
}

.neighborhood-guides p{
    font-size:15px;
    margin-bottom:13px;
}

/* styles.css code */
body {
  padding: 50px 0 50px 0;
}
.error {
  color: red;
}
label {
  display: block;
  font-size: 20px;
}
input[type=text] {
  width: 400px;
  font-size: 20px;
  padding: 2px;
}
textarea {
  width: 400px;
  height: 200px;
  font-size: 17px;
}
input[type=submit] {
  font-size: 24px;
}
hr {
  margin: 20px auto;
}
.main-title {
  text-decoration: none;
  color: black;
  font-size: 40px;
  margin: 10px 0 20px 0;
  display: inline-block;
}
.main-title:hover {
  text-decoration: none;
  color: gray;
}
.entry + .entry {
  margin-top: 20px;
}
.entry-title {
  font-size: 20px;
  font-weight: bold;
}
.entry-created {
  text-align: right;
  color: gray;
}
.entry-body {
  margin: 0;
  font-size: 17px;
}
