<!DOCTYPE html>
<html>
	<head>
	  <link href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/shift.css" rel="stylesheet">
    
	    <link rel="stylesheet" href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/bootstrap.css">
	    <link  type="text/css" rel="stylesheet" href="/static/main2.css"> 
	</head>

	<body>
		<div class="nav">
      		<div class="container">
        		<ul class="pull-left">
          			<li><a href="#">Find preParty</a></li>
          			<li><a href="blog/?">Browse partyfeed</a></li>
        		</ul>
        		<ul class="pull-right">
		          <li><a href="unit2/signup">Sign Up</a></li>
		          <li><a href="#login">Log In</a></li>
		          <li><a href="#">About</a></li>
		          <li><a href="#">Help</a></li>
        		</ul>
     		 </div>
    	</div>

	  <div id="content">
	  {% block content %}
	  {% endblock %}
	  </div>
	</body>

</html>